.Table {
  text-align: center;
  margin: 15px auto;
  width: 90%;
}
.Table table {
  text-align: center;
  width: 100%;
}
.Table thead {
  background-color: aquamarine;
}

.Table th {
  text-align: left;
  padding: 16px 5px;
}

.Table tr {
  background-color: white;
}

.Table td {
  text-align: left;
  padding: 5px;
}

/* .Table tr:nth-child(even) {
  background-color: #f2f2f2;
} */

.SearchBars {
  display: flex;
  flex-direction: row;
}
